<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>Сервис электронных билетов</div>
    <div>
        <a href="/order">Заказ билета</a>
    </div>
    <div>
        <a href="/verify">Проверка статуса</a>
    </div>
    <div>
        <a href="/route">Добавление маршрутов</a>
    </div>
</body>
</html>